@import "modules/header";
@import "modules/footer";
@import "modules/button";
@import "modules/validation";
@import "modules/toolbar";
@import "pages/login";
@import "pages/register";
@import "pages/index";
@import "pages/catalog";
@import "pages/error";
@import "pages/pages";
@import "pages/cart";

* {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #666;
  background-color: #F3F3F3;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, p {
  padding-bottom: 14px;
}

h1, h2 {
  font-size: 18px;
}

h3, h3 a {
  font-size: 16px;
}

h4, h4 a {
  font-size: 14px;
}

a {
  color: #19BDFA;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

section {
  position: relative;
  width: 100%;
  background-color: #F3F3F3;
}

ul, ol {
  list-style: none;
}

.wrapper {
  position: relative;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  min-width: 960px;
  margin: 0 auto -326px;
  overflow-x: hidden;
}

.container {
  width: 900px;
  text-align: left;
  margin: 0 auto;
  padding: 15px 25px 15px 25px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pad-bottom {
  padding-bottom: 40px;
}

form input, form textarea {
  border: 1px solid #AAA;;
}

small {
  font-size: 1em;
}

.nobr {
  white-space: nowrap !important;
}

.a-left {
  text-align: left !important;
}

.a-right {
  text-align: right !important;
}

.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

.col-one {
  width: 100%;
  padding-bottom: 15px;

  .col-main {
    width: 100%;
  }
}

.description-wrapper {
  .nav-links {
    padding-bottom: 15px;
  }

  ul {
    list-style: disc outside;
    padding-left: 18px;
    margin: 0 0 10px;

    li {
      padding-bottom: 3px;

      a {
        color: #19BDFA;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      ul {
        margin: 0;

        li {
          list-style: circle;
        }
      }
    }
  }

  dl {
    font: 12px/1.35 Arial,Helvetica,sans-serif;
    color: #999;

    dt {
      font-weight: bold;
    }

    dd {
      margin: 0 0 10px;
      text-align: justify;
    }
  }

  .page-title {
    h2 {
      font-family: 'Quattrocento Sans', sans-serif;
      font-size: 19px;
      font-weight: normal;
      color: #2F2F2F;

      a {
        color: #19BDFA;
        font-weight: 700;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .col-3-set {
    .col-one {
      float: left;
      width: 32%;
    }

    .col-two {
      float: left;
      width: 32%;
      margin-left: 2%;
    }

    .col-three {
      float: right;
      width: 32%;
    }
  }

  p {
    font: 12px/1.35 Arial,Helvetica,sans-serif;
    color: #999;
    text-align: justify;
  }
}

.bold {
  font-weight: 700;
}

.pad-top-bottom-30 {
  padding-bottom: 30px;
  padding-top: 30px;
}

a:focus, a:active,
.btn:focus, .btn:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0 !important;
  appearance: none;

}

.clearfix {
  clear: both;
}

.center {
  text-align: center !important;
  vertical-align: middle !important;
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body{
    width: 100%;
    overflow-x: hidden;
  }
}