@import "modules/header";
@import "modules/footer";
@import "modules/button";
@import "modules/validation";
@import "pages/login";
@import "pages/register";
@import "pages/index";
@import "pages/catalog";

* {
  border: none;
  outline: none;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #666;
  background-color: #F3F3F3;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5, p {
  padding-bottom: 14px;
}

h1, h2 {
  font-size: 18px;
}

h3, h3 a {
  font-size: 16px;
}

h4, h4 a {
  font-size: 14px;
}

section {
  position: relative;
  width: 100%;
  background-color: #F3F3F3;
}

ul, ol {
  list-style: none;
}

.wrapper {
  position: relative;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  min-width: 960px;
  margin: 0 auto -366px;
  overflow-x: hidden;
}

.container {
  width: 900px;
  text-align: left;
  margin: 0 auto;
  padding: 15px 25px 15px 25px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.pad-bottom {
  padding-bottom: 25px;
}

form input, form textarea {
  border: 1px solid #AAA;;
}
small {
  font-size: 1em;
}

a:focus, a:active,
.btn:focus, .btn:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0 !important;
  appearance: none;

}

.clearfix {
  clear: both;
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body{
    width: 100%;
    overflow-x: hidden;
  }
}