.login-btn {
  border: solid 1px #959595;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #ddd;
  background: url(../images/button.gif) repeat-x;
  background-size: 30px auto;
  color: #fff;
  padding: 3.5px 20px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    border: solid 1px #676767;
    background: url(../images/button.gif) repeat-x 0 -24px;
  }

  &:active, &:focus {
    border: solid 1px #959595;
  }

  input {
    background-color: transparent;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    border: none;
  }
}

.login-btn-reset {
  background: none;
  border: none;
  box-shadow: none;

  &:focus {
    background: none;
    border: none;
    box-shadow: none;
  }
}

.btn-cart-remove {
  background: #E30000;
  color: #fff;
  border: 1px solid #950000;

  &:hover {
    background: #AE0808;
    color: #FFF;
    border: 1px solid #950000;
  }
}

button.button {
  overflow: visible;
  width: auto;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;

  span {
    font: 12px/25px 'Quattrocento Sans', Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    text-transform: uppercase;

    span {
      border: solid 1px #959595;
      background: url(../images/button.gif) repeat-x;
      padding: 0 8px;
      border-radius: 3px;
      box-shadow: 2px 2px 5px #ddd;
    }
  }

  &:hover {
    span {
      span {
        border: solid 1px #676767;
        background: url(../images/button.gif) repeat-x 0 -24px;
      }
    }
  }
}

button.btn-cart {
  height: 58px;

  &:hover {
    span {
      span {
        background: url(../images/btn_add.gif) repeat-x 0 -56px;
        color: #fff;
        border: solid 1px #2096C2;
      }
    }
  }

  span {
    font: 15px/56px 'Quattrocento Sans', Helvetica, sans-serif;
    float: left;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;

    span {
      height: 56px;
      padding: 0 19px;
      border-radius: 3px;
      box-shadow: 2px 2px 7px #B9B9B9;
      background: url(../images/btn_add.gif) repeat-x;
      border: solid 1px #fff;
      color: #000;
    }
  }
}

.btn-cart-add {
  background: url(../images/btn_add.gif) repeat-x;
  border: solid 1px #fff;
  color: #000;

  &:hover {
    background: url(../images/btn_add.gif) repeat-x 0 -56px;
    color: #fff;
    border: solid 1px #2096C2;
  }
}

.btn-remove {
  display: block;
  width: 11px;
  height: 11px;
  font-size: 0;
  line-height: 0;
  background: url(../images/btn_remove.gif) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden;
}

.btn-remove-2 {
  display: block;
  width: 16px;
  height: 16px;
  font-size: 0;
  line-height: 0;
  background: url(../images/btn_trash.gif) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden;
  margin: 0 auto;
}

.btn-edit {
  display: block;
  width: 11px;
  height: 11px;
  font-size: 0;
  line-height: 0;
  background: url(../images/btn_edit.gif) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden;
}

.btn-small-cart {
  border: 1px solid #959595;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #ddd;
  background: url(../images/button.gif) repeat-x;
  background-size: 30px auto;
  color: #fff;
  padding: 2px 8px 2px;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;

  &:hover {
    border: solid 1px #676767;
    background: url(../images/button.gif) repeat-x 0 -24px;
  }

  &:active, &:focus {
    border: 1px solid #959595;
  }

  span {
    vertical-align: middle;
  }
}

.btn-cart-checkout {
  height: 35px;
  text-decoration: none;

  &:hover {
    span {
      span {
        background: transparent url(../images/proceed.gif) repeat-x scroll 0 0;
      }
    }
  }

  span {
    font: 13px/17px "Quattrocento Sans",Helvetica,sans-serif;

    span {
      border: 1px solid #676767;
      background: transparent url(../images/proceed.gif) repeat-x scroll 0 0;
      padding: 8px 13px;
      text-transform: uppercase;
      color: rgb(255, 255, 255);
      border-radius: 3px;
      box-shadow: 2px 2px 5px #DDD;
    }
  }
}