.login-btn {
  border: solid 1px #959595;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #ddd;
  background: url(../images/button.gif) repeat-x;
  background-size: 30px auto;
  color: #fff;
  padding: 3.5px 20px;
  text-transform: uppercase;

  &:hover {
    border: solid 1px #676767;
    background: url(../images/button.gif) repeat-x 0 -24px;
  }

  input {
    background-color: transparent;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    border: none;
  }
}

.login-btn-reset {
  background: none;
  border: none;
  box-shadow: none;

  &:focus {
    background: none;
    border: none;
    box-shadow: none;
  }
}

.btn-cart-remove {
  background: #E30000;
  color: #fff;
  border: 1px solid #950000;

  &:hover {
    background: #AE0808;
    color: #FFF;
    border: 1px solid #950000;
  }
}

button.button {
  overflow: visible;
  width: auto;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
}

button.btn-cart {
  height: 58px;

  &:hover {
    span {
      span {
        background: url(../images/btn_add.gif) repeat-x 0 -56px;
        color: #fff;
        border: solid 1px #2096C2;
      }
    }
  }

  span {
    font: 15px/56px 'Quattrocento Sans', Helvetica, sans-serif;
    float: left;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;

    span {
      height: 56px;
      padding: 0 19px;
      border-radius: 3px;
      box-shadow: 2px 2px 7px #B9B9B9;
      background: url(../images/btn_add.gif) repeat-x;
      border: solid 1px #fff;
      color: #000;
    }
  }
}

.btn-cart-add {
  background: url(../images/btn_add.gif) repeat-x;
  border: solid 1px #fff;
  color: #000;

  &:hover {
    background: url(../images/btn_add.gif) repeat-x 0 -56px;
    color: #fff;
    border: solid 1px #2096C2;
  }
}

.btn-remove {
  display: block;
  width: 11px;
  height: 11px;
  font-size: 0;
  line-height: 0;
  background: url(../images/btn_remove.gif) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden;
}

.btn-edit {
  display: block;
  width: 11px;
  height: 11px;
  font-size: 0;
  line-height: 0;
  background: url(../images/btn_edit.gif) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden;
}