header {
  width: 100%;
  clear: both;
}

.header-row-1 {
  width: 100%;
  background-color: #000000;
}

.header-row-1-container {
  background-color: #000000;
  width: 900px;
  height: 32px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 9px;

  nav {
    width: 100%;

    ul {
      width: 940px;
      list-style: none;

      li {
        float: left;

        a {
          display: block;
          margin-right: 15px;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          color: #ffffff;
          float: left;
          font-weight: bold;
          font-size: 10px;
          padding: 4px 0 0 0;

          span {
            color: #ffffff;
          }

          &:hover {
            color: #19BDFA;
          }
        }
      }
    }

    .currencies {
      float: right;
      padding: 2px 0 0 0;

      select {
        width: 50px;
        border: solid 1px #fff;
        font-size: 12px;
        color: #7F7F7F;
        background-color: #fff;

        option {
          padding-left: 3px;
        }
      }

      label {
        color: #9D9D9D;;
        font-size: 12px;
      }
    }
  }

  .msg-nav-padding {
    padding-right: 135px;
  }
}

.my-cart-items {
  &:hover {
    color: #19BDFA;
  }
}

.logged_as {
  float: right;
  color: rgb(255, 255, 255);
  padding-top: 2px;
}

.header-row-1 .welcome-msg {
  float: left;
  font-weight: bold;
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 4px 0 0 0;
}

.header-row-2 {
  background: url("../images/header_wrapper.jpg") no-repeat scroll 50% 0 #E3E3E3;
  border-bottom: solid 1px #CFCFCF;
  width: 100%;

  .header-row-2-container {
    position: relative;
    width: 900px;
    background: url("../images/header_wrapper.jpg") no-repeat scroll 50% 0 transparent;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;

    .logo-container {
      padding: 45px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      a {

        img {

        }
      }
    }

    .search-container {
      position: absolute;
      top: 53px;
      right: 26px;

      .form-search {
        float: right;
        background: #fff;
        border: solid 1px #DAD7D7;
        padding: 5px 8px 0 10px;
        height: 25px;
        border-radius: 25px;

        .input-text {
          width: 70px;
          float: left;
          border: 0;
          color: #999;
          margin-top: 3px;
          transition: width 0.3s ease 0s;

          &:focus {
            transition: width 0.3s ease 0s;
            width: 300px;
          }
        }

        .btn-search {
          float: right;
          background: url("../images/btn_search.gif") no-repeat;
          border: 0;
          width: 11px;
          height: 11px;
          cursor: pointer;
          margin: 5px 0 0 -10px;
        }
      }
    }

    .nav-container {
      text-align: center;
      position: relative;
      padding-bottom: 14px;
      border-bottom: solid 1px #bbb;
      margin: 0 0 63px 0;

      nav {
        ul {
          li {
            display: inline;
            padding: 5px 15px 5px 15px;

            .sub-nav-wrapper {
              position: absolute;
              width: 900px;
              top: 14px;
              text-align: center;
              padding: 31px 0 0 0;

              li {
                padding: 0 10px;

                a {
                  float: none;
                  display: inline !important;
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 12px;
                  font-weight: normal;
                  color: #696969 !important;
                  text-decoration: none;

                  &:hover {
                    color: #D96137 !important;
                    text-decoration: none;
                  }

                  span {
                    display: inline !important;
                  }
                }

                .sub-nav-text {
                  text-transform: capitalize;
                  white-space: normal;

                  span {
                    white-space: normal;
                  }
                }
              }
            }

            a {
              font-family: 'Quattrocento Sans', sans-serif;
              font-size: 15px;
              text-transform: uppercase;
              color: #6A6A6A;
              text-decoration: none;

              &:hover {
                color: #333;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}

.sub-nav-wrapper-shown {
  left: 0;
  z-index: 999;
}

.sub-nav-wrapper-hidden {
  left: -10000px;
}