.form-valid .input:focus:valid, form textarea:focus:valid {
  background: #fff url(../images/valid.png) no-repeat 99% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f;
}

.form-valid .input:focus:invalid, form textarea:focus:invalid {
  background: #fff url(../images/invalid.png) no-repeat 99% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535
}