header {
  width: 100%;
  clear: both; }

.header-row-1 {
  width: 100%;
  background-color: #000000; }

.header-row-1-container {
  background-color: #000000;
  width: 900px;
  height: 32px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 9px; }
  .header-row-1-container nav {
    width: 100%; }
    .header-row-1-container nav ul {
      width: 940px;
      list-style: none; }
      .header-row-1-container nav ul li {
        float: left; }
        .header-row-1-container nav ul li a {
          display: block;
          margin-right: 15px;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          color: #ffffff;
          float: left;
          font-weight: bold;
          font-size: 10px;
          padding: 4px 0 0 0; }
          .header-row-1-container nav ul li a span {
            color: #ffffff; }
          .header-row-1-container nav ul li a:hover {
            color: #19BDFA; }
    .header-row-1-container nav .currencies {
      float: right;
      padding: 2px 0 0 0; }
      .header-row-1-container nav .currencies select {
        width: 50px;
        border: solid 1px #fff;
        font-size: 12px;
        color: #7F7F7F;
        background-color: #fff; }
        .header-row-1-container nav .currencies select option {
          padding-left: 3px; }
      .header-row-1-container nav .currencies label {
        color: #9D9D9D;
        font-size: 12px; }
  .header-row-1-container .msg-nav-padding {
    padding-right: 135px; }

.my-cart-items:hover {
  color: #19BDFA; }

.logged_as {
  float: right;
  color: white;
  padding-top: 2px; }

.header-row-1 .welcome-msg {
  float: left;
  font-weight: bold;
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 4px 0 0 0; }

.header-row-2 {
  background: url("../images/header_wrapper.jpg") no-repeat scroll 50% 0 #E3E3E3;
  border-bottom: solid 1px #CFCFCF;
  width: 100%; }
  .header-row-2 .header-row-2-container {
    position: relative;
    width: 900px;
    background: url("../images/header_wrapper.jpg") no-repeat scroll 50% 0 transparent;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }
    .header-row-2 .header-row-2-container .logo-container {
      padding: 45px;
      text-align: center;
      margin-left: auto;
      margin-right: auto; }
    .header-row-2 .header-row-2-container .search-container {
      position: absolute;
      top: 53px;
      right: 26px; }
      .header-row-2 .header-row-2-container .search-container .form-search {
        float: right;
        background: #fff;
        border: solid 1px #DAD7D7;
        padding: 5px 8px 0 10px;
        height: 25px;
        border-radius: 25px; }
        .header-row-2 .header-row-2-container .search-container .form-search .input-text {
          width: 70px;
          float: left;
          border: 0;
          color: #999;
          margin-top: 3px;
          -webkit-transition: width 0.3s ease 0s;
                  transition: width 0.3s ease 0s; }
          .header-row-2 .header-row-2-container .search-container .form-search .input-text:focus {
            -webkit-transition: width 0.3s ease 0s;
                    transition: width 0.3s ease 0s;
            width: 300px; }
        .header-row-2 .header-row-2-container .search-container .form-search .btn-search {
          float: right;
          background: url("../images/btn_search.gif") no-repeat;
          border: 0;
          width: 11px;
          height: 11px;
          cursor: pointer;
          margin: 5px 0 0 -10px; }
    .header-row-2 .header-row-2-container .nav-container {
      text-align: center;
      position: relative;
      padding-bottom: 14px;
      border-bottom: solid 1px #bbb;
      margin: 0 0 63px 0; }
      .header-row-2 .header-row-2-container .nav-container nav ul li {
        display: inline;
        padding: 5px 15px 5px 15px; }
        .header-row-2 .header-row-2-container .nav-container nav ul li .sub-nav-wrapper {
          position: absolute;
          width: 900px;
          top: 14px;
          text-align: center;
          padding: 31px 0 0 0; }
          .header-row-2 .header-row-2-container .nav-container nav ul li .sub-nav-wrapper li {
            padding: 0 10px; }
            .header-row-2 .header-row-2-container .nav-container nav ul li .sub-nav-wrapper li a {
              float: none;
              display: inline !important;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: normal;
              color: #696969 !important;
              text-decoration: none; }
              .header-row-2 .header-row-2-container .nav-container nav ul li .sub-nav-wrapper li a:hover {
                color: #D96137 !important;
                text-decoration: none; }
              .header-row-2 .header-row-2-container .nav-container nav ul li .sub-nav-wrapper li a span {
                display: inline !important; }
            .header-row-2 .header-row-2-container .nav-container nav ul li .sub-nav-wrapper li .sub-nav-text {
              text-transform: capitalize;
              white-space: normal; }
              .header-row-2 .header-row-2-container .nav-container nav ul li .sub-nav-wrapper li .sub-nav-text span {
                white-space: normal; }
        .header-row-2 .header-row-2-container .nav-container nav ul li a {
          font-family: 'Quattrocento Sans', sans-serif;
          font-size: 15px;
          text-transform: uppercase;
          color: #6A6A6A;
          text-decoration: none; }
          .header-row-2 .header-row-2-container .nav-container nav ul li a:hover {
            color: #333;
            text-decoration: none; }

.sub-nav-wrapper-shown {
  left: 0;
  z-index: 999; }

.sub-nav-wrapper-hidden {
  left: -10000px; }

footer {
  z-index: 0;
  background-color: #F3F3F3; }
  footer .footer-row-1 {
    height: 235px; }
    footer .footer-row-1 .footer-container {
      background-color: #F3F3F3;
      border-top: solid 1px #CFCFCF;
      height: 75px;
      width: 900px;
      text-align: left;
      margin: 0 auto; }
      footer .footer-row-1 .footer-container .footer-block {
        margin-left: 155px;
        padding-top: 50px; }
        footer .footer-row-1 .footer-container .footer-block .footer-cols {
          float: left; }
          footer .footer-row-1 .footer-container .footer-block .footer-cols h3 {
            font-family: 'Quattrocento Sans', sans-serif;
            font-size: 16px;
            font-weight: normal;
            color: #383636;
            text-transform: uppercase;
            padding: 0 0 13px 0; }
          footer .footer-row-1 .footer-container .footer-block .footer-cols ul {
            list-style: none; }
            footer .footer-row-1 .footer-container .footer-block .footer-cols ul li {
              background: url(../images/f_arr.gif) no-repeat 0 7px;
              padding: 0 0 9px 9px; }
              footer .footer-row-1 .footer-container .footer-block .footer-cols ul li a {
                color: #7B7B7B;
                text-decoration: none;
                font-size: 12px; }
                footer .footer-row-1 .footer-container .footer-block .footer-cols ul li a:hover {
                  color: #D96137; }
        footer .footer-row-1 .footer-container .footer-block .footer-col-1 {
          width: 241px; }
        footer .footer-row-1 .footer-container .footer-block .footer-col-2 {
          width: 241px; }
        footer .footer-row-1 .footer-container .footer-block .footer-col-3 {
          width: 241px; }
  footer .footer-row-2 {
    padding-top: 10px; }
    footer .footer-row-2 .footer-container {
      background-color: #F3F3F3;
      height: 50px;
      width: 900px;
      text-align: left;
      margin: 0 auto;
      border-top: solid 1px #CFCFCF;
      padding: 30px 0 0 0; }
      footer .footer-row-2 .footer-container ul {
        margin: 0 15px; }
        footer .footer-row-2 .footer-container ul li a {
          text-decoration: none; }
          footer .footer-row-2 .footer-container ul li a address {
            font-style: normal;
            color: #696969;
            display: inline; }
            footer .footer-row-2 .footer-container ul li a address:hover {
              color: #19BDFA; }

.footer-copyright {
  display: inline; }

.footer-github {
  display: inline; }
  .footer-github a {
    margin-left: 10px; }
    .footer-github a i {
      color: gray; }
      .footer-github a i:hover {
        color: #4183C4; }

.footer-linkin {
  display: inline; }
  .footer-linkin a {
    margin-left: 10px; }
    .footer-linkin a i {
      color: gray; }
      .footer-linkin a i:hover {
        color: #0976b4; }

.footer-google-plus {
  display: inline; }
  .footer-google-plus a {
    margin-left: 10px; }
    .footer-google-plus a i {
      color: gray; }
      .footer-google-plus a i:hover {
        color: #dd4b39; }

.push {
  overflow: auto;
  padding-bottom: 326px; }

footer {
  width: 100%;
  height: 327px;
  clear: both; }

.footer-text {
  display: inline; }

.login-btn {
  border: solid 1px #959595;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #ddd;
  background: url(../images/button.gif) repeat-x;
  background-size: 30px auto;
  color: #fff;
  padding: 3.5px 20px;
  text-transform: uppercase;
  text-decoration: none; }
  .login-btn:hover {
    border: solid 1px #676767;
    background: url(../images/button.gif) repeat-x 0 -24px; }
  .login-btn:active, .login-btn:focus {
    border: solid 1px #959595; }
  .login-btn input {
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    font-weight: 400;
    border: none; }

.login-btn-reset {
  background: none;
  border: none;
  box-shadow: none; }
  .login-btn-reset:focus {
    background: none;
    border: none;
    box-shadow: none; }

.btn-cart-remove {
  background: #E30000;
  color: #fff;
  border: 1px solid #950000; }
  .btn-cart-remove:hover {
    background: #AE0808;
    color: #FFF;
    border: 1px solid #950000; }

button.button {
  overflow: visible;
  width: auto;
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer; }
  button.button span {
    font: 12px/25px 'Quattrocento Sans', Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    text-transform: uppercase; }
    button.button span span {
      border: solid 1px #959595;
      background: url(../images/button.gif) repeat-x;
      padding: 0 8px;
      border-radius: 3px;
      box-shadow: 2px 2px 5px #ddd; }
  button.button:hover span span {
    border: solid 1px #676767;
    background: url(../images/button.gif) repeat-x 0 -24px; }

button.btn-cart {
  height: 58px; }
  button.btn-cart:hover span span {
    background: url(../images/btn_add.gif) repeat-x 0 -56px;
    color: #fff;
    border: solid 1px #2096C2; }
  button.btn-cart span {
    font: 15px/56px 'Quattrocento Sans', Helvetica, sans-serif;
    float: left;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase; }
    button.btn-cart span span {
      height: 56px;
      padding: 0 19px;
      border-radius: 3px;
      box-shadow: 2px 2px 7px #B9B9B9;
      background: url(../images/btn_add.gif) repeat-x;
      border: solid 1px #fff;
      color: #000; }

.btn-cart-add {
  background: url(../images/btn_add.gif) repeat-x;
  border: solid 1px #fff;
  color: #000; }
  .btn-cart-add:hover {
    background: url(../images/btn_add.gif) repeat-x 0 -56px;
    color: #fff;
    border: solid 1px #2096C2; }

.btn-remove {
  display: block;
  width: 11px;
  height: 11px;
  font-size: 0;
  line-height: 0;
  background: url(../images/btn_remove.gif) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden; }

.btn-remove-2 {
  display: block;
  width: 16px;
  height: 16px;
  font-size: 0;
  line-height: 0;
  background: url(../images/btn_trash.gif) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden;
  margin: 0 auto; }

.btn-edit {
  display: block;
  width: 11px;
  height: 11px;
  font-size: 0;
  line-height: 0;
  background: url(../images/btn_edit.gif) 0 0 no-repeat;
  text-indent: -999em;
  overflow: hidden; }

.btn-small-cart {
  border: 1px solid #959595;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #ddd;
  background: url(../images/button.gif) repeat-x;
  background-size: 30px auto;
  color: #fff;
  padding: 2px 8px 2px;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none; }
  .btn-small-cart:hover {
    border: solid 1px #676767;
    background: url(../images/button.gif) repeat-x 0 -24px; }
  .btn-small-cart:active, .btn-small-cart:focus {
    border: 1px solid #959595; }
  .btn-small-cart span {
    vertical-align: middle; }

.btn-cart-checkout {
  height: 35px;
  text-decoration: none; }
  .btn-cart-checkout:hover span span {
    background: transparent url(../images/proceed.gif) repeat-x scroll 0 0; }
  .btn-cart-checkout span {
    font: 13px/17px "Quattrocento Sans", Helvetica, sans-serif; }
    .btn-cart-checkout span span {
      border: 1px solid #676767;
      background: transparent url(../images/proceed.gif) repeat-x scroll 0 0;
      padding: 8px 13px;
      text-transform: uppercase;
      color: white;
      border-radius: 3px;
      box-shadow: 2px 2px 5px #DDD; }

.form-valid .input:focus:valid, form textarea:focus:valid {
  background: #fff url(../images/valid.png) no-repeat 99% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f; }

.form-valid .input:focus:invalid, form textarea:focus:invalid {
  background: #fff url(../images/invalid.png) no-repeat 99% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535; }

.toolbar {
  border: solid 1px #DFDFDF;
  background: #F3F3F3 url(../images/toolbar.gif) repeat-x;
  padding: 5px 18px;
  margin: 0;
  border-radius: 0 0 2px 2px;
  position: relative; }
  .toolbar .pager {
    padding: 7px 0;
    text-align: center;
    color: #919191; }
    .toolbar .pager .amount {
      float: left;
      padding-bottom: 0;
      margin-top: 1px; }
    .toolbar .pager .page-number {
      float: right; }
      .toolbar .pager .page-number strong {
        display: inline;
        font-weight: 500; }
      .toolbar .pager .page-number .input-box {
        background-color: #FFF;
        font-size: 11px;
        color: #919191;
        margin: 0 5px;
        display: inline; }
        .toolbar .pager .page-number .input-box input {
          border: 1px solid #DFDFDF;
          width: 28px;
          height: 8px;
          text-align: center;
          padding-left: 2px;
          color: #919191;
          cursor: default; }
    .toolbar .pager .pages {
      position: absolute;
      top: 13px;
      left: 260px;
      width: 175px; }
      .toolbar .pager .pages strong {
        float: left;
        font-weight: 500;
        padding-right: 7px; }
      .toolbar .pager .pages .paging {
        list-style: none; }
        .toolbar .pager .pages .paging li {
          float: left;
          margin-right: 5px; }
          .toolbar .pager .pages .paging li a {
            color: #19BDFA;
            text-decoration: underline; }
            .toolbar .pager .pages .paging li a:hover {
              text-decoration: none; }

.main {
  padding-top: 30px; }
  .main .page-title {
    padding-bottom: 20px; }
    .main .page-title h1 {
      font-family: 'Quattrocento Sans',sans-serif;
      font-weight: normal;
      color: #2F2F2F;
      letter-spacing: 0.8px;
      font-size: 19px; }
  .main .account-login .row-1 {
    height: 170px; }
    .main .account-login .row-1 .col-1 {
      float: left;
      width: 500px; }
      .main .account-login .row-1 .col-1 .content h2 {
        font-weight: 500; }
    .main .account-login .row-1 .col-2 {
      float: left;
      width: 400px; }
      .main .account-login .row-1 .col-2 .content {
        padding-left: 40px; }
        .main .account-login .row-1 .col-2 .content h2 {
          font-weight: 500; }
        .main .account-login .row-1 .col-2 .content p {
          padding-bottom: 6px; }
        .main .account-login .row-1 .col-2 .content .required {
          font-size: 10px;
          text-transform: uppercase;
          text-align: right;
          color: #19BDFA;
          padding-top: 10px; }
        .main .account-login .row-1 .col-2 .content .form-list ul {
          list-style: none; }
          .main .account-login .row-1 .col-2 .content .form-list ul li {
            margin-top: 8px; }
            .main .account-login .row-1 .col-2 .content .form-list ul li label {
              display: list-item; }
              .main .account-login .row-1 .col-2 .content .form-list ul li label em {
                color: #19BDFA; }
            .main .account-login .row-1 .col-2 .content .form-list ul li input {
              display: list-item; }
            .main .account-login .row-1 .col-2 .content .form-list ul li .login-input-field {
              padding: 3px;
              width: 350px; }
  .main .account-login .row-2 {
    height: 35px;
    padding-top: 20px;
    padding-bottom: 15px; }
    .main .account-login .row-2 .col-1 {
      width: 500px;
      float: left; }
    .main .account-login .row-2 .col-2 {
      width: 400px;
      float: left; }
      .main .account-login .row-2 .col-2 .buttons-set {
        padding-left: 40px; }
        .main .account-login .row-2 .col-2 .buttons-set a {
          color: #19BDFA;
          margin-top: 6px; }

.account-create {
  margin-top: -20px; }
  .account-create .row-3 {
    height: 90px; }
    .account-create .row-3 .buttons-set .required {
      font-size: 10px;
      text-transform: uppercase;
      text-align: right;
      color: #19BDFA;
      padding-top: 10px;
      margin-bottom: -6px; }

fieldset {
  border: 1px solid #ddd;
  background: #fefefe;
  padding: 22px 25px 12px 25px;
  margin: 28px 0; }
  fieldset legend {
    float: left;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #fefefe;
    background: #dedede;
    color: #333;
    margin: -33px 0 0 -10px;
    padding: 0 8px;
    position: relative; }
  fieldset ul {
    list-style: none; }
    fieldset ul li {
      display: list-item; }

.form-list li {
  margin: 0 0 10px; }
.form-list .fields {
  height: 36px; }
  .form-list .fields .field {
    float: left;
    margin-bottom: 5px;
    margin-top: 5px; }
    .form-list .fields .field em {
      color: #19BDFA; }

.input-text-one {
  width: 848px; }

.field-one {
  width: 848px; }

.field-two {
  width: 424px; }

.first-name .input-box {
  padding-left: 0;
  padding-right: 9px; }
  .first-name .input-box input {
    width: 407px; }

.last-name label {
  padding-left: 12px; }
.last-name .input-box {
  padding-left: 12px; }
  .last-name .input-box input {
    width: 405px; }

.address input {
  width: 840px; }

.city label {
  padding-left: 0; }
.city .input-box {
  padding-left: 0;
  padding-right: 15px; }
.city input {
  width: 260px; }

.state label {
  padding-left: 10px; }
.state .input-box {
  padding-left: 8px;
  padding-right: 6px; }
.state input {
  width: 260px; }

.zipcode label {
  padding-left: 18px; }
.zipcode .input-box {
  padding-left: 18px; }
.zipcode input {
  width: 257px; }

.create-account-country {
  width: 850px;
  border: 1px solid #aaa;
  height: 21px;
  background-color: #F3F3F3; }

.create-account-state {
  width: 269px;
  border: 1px solid #aaa;
  height: 21px;
  background-color: #F3F3F3; }

.email input {
  width: 840px; }

.field-three {
  width: 282.6px; }

.passwd .input-box {
  padding-left: 0;
  padding-right: 9px; }
  .passwd .input-box input {
    width: 407px; }

.passwd-conf label {
  padding-left: 12px; }
.passwd-conf .input-box {
  padding-left: 12px; }
  .passwd-conf .input-box input {
    width: 404px; }

.back-btn {
  color: #19BDFA;
  text-decoration: underline;
  padding-top: 5px; }
  .back-btn:hover {
    text-decoration: none; }

.input-box {
  display: block;
  clear: both; }
  .input-box input {
    height: 13px;
    padding: 3px; }

.new-products {
  padding: 0 0 19px 0; }
  .new-products .row {
    height: 230px;
    margin-left: 45px; }
  .new-products ul li {
    float: left;
    width: 119px;
    margin: 0 20px 0 0;
    background: url(../images/shadow.png) no-repeat 0 152px;
    min-height: 230px; }
    .new-products ul li:hover {
      background: url(../images/shadow.png) no-repeat -119px 152px; }
    .new-products ul li h3 {
      font-size: 11px;
      display: none;
      text-align: center;
      line-height: 16px;
      padding: 22px 0 0 0;
      margin-top: -8px; }
      .new-products ul li h3 a {
        color: #19BDFA;
        text-decoration: none;
        font-size: 11px;
        font-weight: normal; }
    .new-products ul li .product-image {
      display: block;
      width: 107px;
      height: 160px;
      margin: 0 auto; }
      .new-products ul li .product-image img {
        -webkit-transition: -webkit-transform 0.5s ease;
                transition: transform 0.5s ease; }

.animate-image {
  -webkit-transform: translateY(-16px);
      -ms-transform: translateY(-16px);
          transform: translateY(-16px); }

.main {
  display: table;
  padding-top: 30px; }
  .main .col-main {
    float: none;
    width: 650px;
    display: table-cell;
    padding-right: 30px; }
    .main .col-main .breadcrumbs {
      border-bottom: solid 1px #CFCFCF;
      margin: 0 0 25px 0;
      padding: 0 0 15px 0;
      font-size: 11px; }
      .main .col-main .breadcrumbs li {
        display: inline; }
      .main .col-main .breadcrumbs a {
        color: #000;
        text-decoration: none; }
        .main .col-main .breadcrumbs a:hover {
          text-decoration: underline; }
      .main .col-main .breadcrumbs span {
        background: url(../images/b_arr.gif) no-repeat 0 4px;
        margin: 0 5px; }
      .main .col-main .breadcrumbs strong {
        font-weight: normal;
        color: #8C8B8B; }
    .main .col-main .category-products .toolbar-bottom .toolbar {
      margin: 0; }
    .main .col-main .category-products .toolbar {
      border: solid 1px #DFDFDF;
      background: #F3F3F3 url(../images/toolbar.gif) repeat-x;
      padding: 5px 18px;
      margin: 0 0 30px 0;
      border-radius: 0 0 2px 2px;
      position: relative; }
      .main .col-main .category-products .toolbar .pager {
        padding: 7px 0;
        text-align: center;
        color: #919191; }
        .main .col-main .category-products .toolbar .pager .amount {
          float: left;
          padding-bottom: 0;
          margin-top: 1px; }
        .main .col-main .category-products .toolbar .pager .page-number {
          float: right; }
          .main .col-main .category-products .toolbar .pager .page-number strong {
            display: inline;
            font-weight: 500; }
          .main .col-main .category-products .toolbar .pager .page-number .input-box {
            background-color: #FFF;
            font-size: 11px;
            color: #919191;
            margin: 0 5px;
            display: inline; }
            .main .col-main .category-products .toolbar .pager .page-number .input-box input {
              border: 1px solid #DFDFDF;
              width: 28px;
              height: 8px;
              text-align: center;
              padding-left: 2px;
              color: #919191;
              cursor: default; }
        .main .col-main .category-products .toolbar .pager .pages {
          position: absolute;
          top: 13px;
          left: 288px;
          width: 175px; }
          .main .col-main .category-products .toolbar .pager .pages strong {
            float: left;
            font-weight: 500;
            padding-right: 7px; }
          .main .col-main .category-products .toolbar .pager .pages .paging {
            list-style: none; }
            .main .col-main .category-products .toolbar .pager .pages .paging li {
              float: left;
              margin-right: 5px; }
              .main .col-main .category-products .toolbar .pager .pages .paging li a {
                color: #19BDFA;
                text-decoration: underline; }
                .main .col-main .category-products .toolbar .pager .pages .paging li a:hover {
                  text-decoration: none; }
    .main .col-main .category-products .products-list .item {
      border-bottom: 1px solid #CFCFCF;
      padding: 0 0 38px 0;
      margin: 0 0 39px 0;
      height: 240px; }
    .main .col-main .category-products .products-list .product-image {
      float: left;
      width: 107px;
      height: 160px; }
    .main .col-main .category-products .products-list .product-info-wrapper {
      margin-left: 136px; }
      .main .col-main .category-products .products-list .product-info-wrapper .product-container {
        float: left;
        width: 100%; }
        .main .col-main .category-products .products-list .product-info-wrapper .product-container p {
          margin-top: -12px;
          padding-bottom: 0;
          text-align: justify; }
        .main .col-main .category-products .products-list .product-info-wrapper .product-container .product-name {
          font-size: 1em;
          font-weight: normal;
          margin: 0 0 12px; }
          .main .col-main .category-products .products-list .product-info-wrapper .product-container .product-name a {
            color: #19BDFA;
            text-decoration: underline; }
            .main .col-main .category-products .products-list .product-info-wrapper .product-container .product-name a:hover {
              text-decoration: none; }
        .main .col-main .category-products .products-list .product-info-wrapper .product-container .price-box {
          float: left;
          margin: 9px 25px 0 0; }
    .main .col-main .category-products .products-list .price {
      font-family: 'Quattrocento Sans', sans-serif;
      font-size: 29px;
      font-weight: normal !important;
      color: #19BDFA; }
    .main .col-main .category-products .products-list .product-desc {
      clear: both;
      padding: 20px 0 0;
      margin: 12px 0 28px;
      line-height: 18px; }
      .main .col-main .category-products .products-list .product-desc p {
        margin-top: 0;
        padding-bottom: 0;
        font: 12px/1.35 Arial, Helvetica, sans-serif;
        color: #999; }
      .main .col-main .category-products .products-list .product-desc .link-learn {
        font-size: 12px;
        color: #19BDFA;
        text-decoration: underline; }
        .main .col-main .category-products .products-list .product-desc .link-learn:hover {
          text-decoration: none; }
    .main .col-main .category-products .products-list .add-to-links li {
      float: left;
      padding-left: 15px; }
      .main .col-main .category-products .products-list .add-to-links li .add-wishlist {
        color: #D96137;
        text-decoration: underline; }
        .main .col-main .category-products .products-list .add-to-links li .add-wishlist:hover {
          text-decoration: none; }
      .main .col-main .category-products .products-list .add-to-links li .add-compare {
        color: #D96137;
        text-decoration: underline; }
        .main .col-main .category-products .products-list .add-to-links li .add-compare:hover {
          text-decoration: none; }
  .main .col-right {
    float: none;
    width: 190px;
    border-left: 1px solid #cfcfcf;
    padding-left: 28px;
    display: table-cell; }

.block {
  border-bottom: solid 1px #CFCFCF;
  margin: 0 0 25px;
  padding-bottom: 25px; }
  .block .block-title {
    padding: 0 0 12px 0; }
    .block .block-title strong {
      font-family: 'Quattrocento Sans', sans-serif;
      font-size: 18px;
      font-weight: normal;
      color: #2F2F2F;
      line-height: 1.65; }
  .block .block-content {
    color: #919191; }
    .block .block-content p {
      padding-bottom: 0; }
    .block .block-content .summary .amount {
      padding: 0 0 8px 0; }
      .block .block-content .summary .amount a {
        font-weight: bold;
        text-decoration: none;
        color: #919191; }
        .block .block-content .summary .amount a:hover {
          text-decoration: underline; }
    .block .block-content .summary .subtotal {
      text-align: center;
      margin: 0 0 20px 0;
      background: #E4E4E4;
      padding: 6px 0; }
      .block .block-content .summary .subtotal .price {
        color: #343434;
        font-weight: bold; }
    .block .block-content .block-subtitle {
      padding-bottom: 8px; }
    .block .block-content .item {
      padding: 0 0 15px 0; }
    .block .block-content .mini-products-list .product-image {
      float: left;
      width: 65px; }
    .block .block-content .mini-products-list .product-details .btn-edit {
      float: right;
      margin-right: 5px;
      margin-top: 2px; }
    .block .block-content .mini-products-list .product-details .btn-remove {
      float: right;
      margin-top: 2px; }
    .block .block-content .mini-products-list .product-details .price {
      white-space: nowrap !important; }
    .block .block-content .mini-products-list .product-name {
      line-height: 18px;
      margin: 0 0 13px 0; }
      .block .block-content .mini-products-list .product-name a {
        font-size: 12px;
        color: #19BDFA;
        text-decoration: underline; }
        .block .block-content .mini-products-list .product-name a:hover {
          text-decoration: none; }
  .block .empty strong {
    color: #19BDFA; }

.block-layered-nav {
  padding-bottom: 22px; }
  .block-layered-nav dt {
    color: #19BDFA;
    padding: 0 0 5px 22px;
    font-size: 12px; }
  .block-layered-nav dd {
    padding: 0 0 13px 35px; }
    .block-layered-nav dd a {
      color: #919191;
      text-decoration: underline; }
      .block-layered-nav dd a:hover {
        text-decoration: none; }

.block-small-cart {
  padding-bottom: 35px; }

.block-viewed {
  padding-bottom: 27px; }
  .block-viewed .block-content li.item {
    padding: 0 0 5px 8px;
    background: url(../images/mark.gif) no-repeat 0 7px; }
  .block-viewed .product-name a {
    color: #919191;
    text-decoration: none; }
    .block-viewed .product-name a:hover {
      text-decoration: underline; }

.product-view .product-essential {
  margin-bottom: 30px; }
  .product-view .product-essential .product-info-wrapper {
    float: right;
    width: 445px; }
    .product-view .product-essential .product-info-wrapper .product-name {
      font-size: 1em;
      font-weight: normal; }
      .product-view .product-essential .product-info-wrapper .product-name h1 {
        font-family: "Quattrocento Sans",sans-serif;
        font-size: 25px;
        font-weight: 400;
        padding: 0 0 4px;
        color: #2F2F2F;
        line-height: 35px; }
    .product-view .product-essential .product-info-wrapper .price-box {
      padding-top: 15px;
      padding-bottom: 15px; }
      .product-view .product-essential .product-info-wrapper .price-box .price {
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 26px;
        font-weight: normal !important;
        color: #19BDFA; }
    .product-view .product-essential .product-info-wrapper .availability {
      background: url(../images/bg_availability.gif) no-repeat;
      width: 60px;
      height: 47px;
      padding: 23px 5px 0 5px;
      text-align: center;
      font-size: 11px;
      color: #fff;
      margin: 0 0 16px 0;
      position: relative; }
      .product-view .product-essential .product-info-wrapper .availability span {
        font-weight: 400;
        position: absolute;
        top: 35px;
        left: 15px; }
    .product-view .product-essential .product-info-wrapper .add-to-box .add-to-cart {
      float: none !important; }
      .product-view .product-essential .product-info-wrapper .add-to-box .add-to-cart label {
        margin: 8px 6px 0 0; }
      .product-view .product-essential .product-info-wrapper .add-to-box .add-to-cart .qty {
        width: 37px !important;
        height: 26px;
        background: #FBFBFB;
        border: solid 1px #DAD7D7;
        text-align: center;
        font-size: 12px;
        line-height: 26px;
        color: #696969; }
      .product-view .product-essential .product-info-wrapper .add-to-box .add-to-cart .add-btn-wrapper {
        padding-bottom: 0;
        padding-top: 20px; }
  .product-view .product-essential .product-image-box {
    float: left;
    width: 200px; }
    .product-view .product-essential .product-image-box .product-image {
      text-align: center;
      margin-bottom: 13px; }
.product-view .product-collateral .box-collateral {
  margin: 0 0 20px; }
  .product-view .product-collateral .box-collateral h2 {
    border-top: solid 1px #CFCFCF;
    padding: 30px 0 30px 0;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 21px;
    font-weight: normal;
    color: #D96137; }
  .product-view .product-collateral .box-collateral .product-details {
    font-size: 12px;
    color: #999;
    text-align: justify; }
.product-view .product-collateral .box-up-sell .products-grid-upsell {
  overflow: hidden;
  padding-bottom: 5px; }
  .product-view .product-collateral .box-up-sell .products-grid-upsell .item {
    float: left;
    width: 210px;
    margin: 0 0 20px 0; }
  .product-view .product-collateral .box-up-sell .products-grid-upsell .product-image {
    float: left;
    width: 95px;
    height: 142px;
    margin: 0 20px 0 0; }
  .product-view .product-collateral .box-up-sell .products-grid-upsell .up-holder {
    position: relative;
    float: left;
    width: 83px;
    height: 142px; }
  .product-view .product-collateral .box-up-sell .products-grid-upsell .product-name {
    margin-bottom: 13px; }
    .product-view .product-collateral .box-up-sell .products-grid-upsell .product-name a {
      color: #19BDFA;
      text-decoration: underline;
      font-size: 12px; }
      .product-view .product-collateral .box-up-sell .products-grid-upsell .product-name a:hover {
        text-decoration: none; }
  .product-view .product-collateral .box-up-sell .products-grid-upsell .price-box {
    position: absolute;
    bottom: 35px; }
    .product-view .product-collateral .box-up-sell .products-grid-upsell .price-box .price {
      font-family: 'Quattrocento Sans', sans-serif;
      font-size: 19px;
      font-weight: normal;
      color: #19BDFA; }

.sidebar .paypal-logo {
  display: block;
  margin: 10px 0;
  text-align: center;
  padding-top: 10px; }
  .sidebar .paypal-logo a {
    float: none; }

.block-related .product {
  position: relative;
  height: 127px;
  padding-top: 10px; }
.block-related .product-image {
  width: 85px; }
.block-related .product-details {
  float: right;
  width: 90px; }
.block-related .price-box {
  position: absolute;
  bottom: 0;
  right: 0; }
.block-related .price {
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: normal !important;
  font-size: 23px !important;
  color: #2F2F2F !important; }

.main-col-error {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  .main-col-error h1 {
    font-family: "Quattrocento Sans",sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #2F2F2F;
    line-height: 45px;
    padding: 0 0 30px; }
  .main-col-error p {
    font-size: 18px;
    color: #999; }

.main {
  width: 100%; }
  .main p {
    color: #919191; }
  .main .empty strong {
    color: #19BDFA; }
  .main .empty a {
    color: #19BDFA;
    text-decoration: underline; }
    .main .empty a:hover {
      text-decoration: none; }

.description-wrapper .form-returns, .description-wrapper .form-contact-us {
  margin-top: -20px; }
  .description-wrapper .form-returns ul, .description-wrapper .form-contact-us ul {
    list-style: none;
    padding-left: 0; }
  .description-wrapper .form-returns .fields-textarea .field em, .description-wrapper .form-contact-us .fields-textarea .field em {
    color: #19BDFA; }
  .description-wrapper .form-returns .name input, .description-wrapper .form-returns .name select, .description-wrapper .form-returns .billing-last-name input, .description-wrapper .form-returns .billing-last-name select, .description-wrapper .form-returns .order-id input, .description-wrapper .form-returns .order-id select, .description-wrapper .form-returns .find-by input, .description-wrapper .form-returns .find-by select, .description-wrapper .form-returns .zip input, .description-wrapper .form-returns .zip select, .description-wrapper .form-returns .email input, .description-wrapper .form-returns .email select, .description-wrapper .form-contact-us .name input, .description-wrapper .form-contact-us .name select, .description-wrapper .form-contact-us .billing-last-name input, .description-wrapper .form-contact-us .billing-last-name select, .description-wrapper .form-contact-us .order-id input, .description-wrapper .form-contact-us .order-id select, .description-wrapper .form-contact-us .find-by input, .description-wrapper .form-contact-us .find-by select, .description-wrapper .form-contact-us .zip input, .description-wrapper .form-contact-us .zip select, .description-wrapper .form-contact-us .email input, .description-wrapper .form-contact-us .email select {
    width: 590px; }
  .description-wrapper .form-returns .name select, .description-wrapper .form-returns .billing-last-name select, .description-wrapper .form-returns .order-id select, .description-wrapper .form-returns .find-by select, .description-wrapper .form-returns .zip select, .description-wrapper .form-returns .email select, .description-wrapper .form-contact-us .name select, .description-wrapper .form-contact-us .billing-last-name select, .description-wrapper .form-contact-us .order-id select, .description-wrapper .form-contact-us .find-by select, .description-wrapper .form-contact-us .zip select, .description-wrapper .form-contact-us .email select {
    width: 598px;
    border: 1px solid #AAA;
    height: 21px;
    background-color: #F3F3F3; }
  .description-wrapper .form-returns .comment textarea, .description-wrapper .form-contact-us .comment textarea {
    resize: none;
    width: 589px;
    height: 175px;
    padding: 3px; }
.description-wrapper .required {
  font-size: 10px;
  text-transform: uppercase;
  text-align: right;
  color: #19BDFA;
  padding-top: 10px; }

.error-msg {
  border-color: #F16048;
  background-color: #FAEBE7;
  border-style: solid !important;
  border-width: 1px !important;
  padding: 8px 8px 8px 32px !important;
  background-image: url(../images/i_msg-error.gif);
  background-position: 10px 9px !important;
  background-repeat: no-repeat !important;
  margin-top: 5px;
  margin-bottom: 5px; }
  .error-msg span {
    font-size: 11px !important;
    font-weight: 700 !important;
    color: #DF280A; }
  .error-msg a {
    color: #DF280A;
    text-decoration: none; }

.success-msg {
  border-style: solid !important;
  border-width: 1px !important;
  padding: 8px 8px 8px 32px !important;
  background-position: 10px 9px !important;
  background-repeat: no-repeat !important;
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #446423;
  background-color: #eff5ea;
  background-image: url(../images/i_msg-success.gif); }
  .success-msg span {
    font-size: 11px !important;
    font-weight: 700 !important;
    color: #3d6611; }

.data-table {
  width: 100%; }
  .data-table thead {
    background-color: #F1F1F1; }
  .data-table tfoot {
    background-color: #F1F1F1; }
  .data-table th {
    padding: 10px;
    border: 1px solid #BCBCBC;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2F2F2F;
    white-space: nowrap;
    background-color: #DDDBDB; }
  .data-table td {
    padding: 10px;
    border: 1px solid #DBDBDB;
    background-color: #f3f3f3; }

fieldset {
  border: 0; }

p.required {
  font-size: 10px;
  text-transform: uppercase;
  text-align: right;
  color: #19BDFA;
  padding-top: 10px;
  padding-bottom: 10px; }

.first-name label, .last-name label, .address label, .city label, .state label, .zipcode label, .country label, .email label, .passwd label, .passwd-conf label, .login-email label, .login-passwd label, .order-id label, .billing-last-name label, .find-by label, .name label, .comment label {
  text-transform: uppercase; }

.cart .totals {
  float: right;
  width: 264px;
  border: solid 1px #DBDBDB;
  background: #F1F1F1; }
  .cart .totals .checkout-types {
    padding: 17px; }
  .cart .totals fieldset {
    margin: 0;
    padding: 1px; }
  .cart .totals table {
    width: 100%; }
    .cart .totals table td {
      text-transform: uppercase;
      font-weight: 700;
      color: #2F2F2F; }
  .cart .totals .price {
    font-size: 15px;
    font-weight: bold;
    color: #19BDFA; }
.cart .checkout-types {
  text-align: right;
  margin: 0 0 11px 0;
  height: 25px; }

.cart-table input {
  border: 1px solid #DBDBDB; }
.cart-table .price {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 29px;
  font-weight: normal;
  color: #19BDFA; }
.cart-table th {
  padding: 8px 10px; }
.cart-table td {
  vertical-align: middle; }
.cart-table tfoot td {
  overflow: hidden;
  padding: 7px; }

button.btn-continue span {
  font: 11px/25px 'Quattrocento Sans', Helvetica, sans-serif; }
  button.btn-continue span span {
    padding: 5px 7px 4px; }

button.btn-update span {
  font: 11px/25px 'Quattrocento Sans', Helvetica, sans-serif; }
  button.btn-update span span {
    padding: 5px 7px 4px; }

.form-cart-big {
  margin-top: -15px;
  margin-bottom: -15px; }
  .form-cart-big fieldset {
    background: #FEFEFE none repeat scroll 0 0;
    padding: 1px 1px 1px;
    margin: 28px 0;
    border: 1px solid #DBDBDB; }
  .form-cart-big .btn-remove-2 {
    display: block;
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    background: url(../images/btn_trash.gif) 0 0 no-repeat;
    text-indent: -999em;
    overflow: hidden;
    margin: 0 auto; }

.product-name {
  font-size: 1em;
  font-weight: normal; }

.fld_qty {
  width: 34px;
  padding: 11px 10px;
  text-align: center;
  margin-top: -6px;
  font-size: 12px; }

.checkout .form-list li.control {
  float: left;
  padding: 0 20px 0 0;
  margin-top: 8px; }
  .checkout .form-list li.control input {
    float: left;
    margin-right: 5px; }
  .checkout .form-list li.control label {
    float: right; }
.checkout button.btn-continue span span {
  padding: 4px 10px 3px; }
.checkout fieldset {
  padding: 0;
  margin: 0;
  background: none; }
.checkout .form-list .fields {
  height: 41px;
  margin-bottom: 7px; }
.checkout .form-list li {
  margin: 0; }
.checkout label {
  text-transform: uppercase;
  font-size: 12px; }
.checkout .field-one, .checkout .input-text-one {
  width: 830px; }
.checkout .field-two {
  width: 402px; }
.checkout .field-three {
  width: 259px; }
.checkout .first-name .input-box {
  padding-left: 0;
  padding-right: 0; }
  .checkout .first-name .input-box input {
    width: 394px; }
.checkout .last-name {
  padding-left: 25px; }
  .checkout .last-name .input-box input {
    width: 394px; }
  .checkout .last-name .input-box, .checkout .last-name label {
    padding-left: 0; }
.checkout .address .input-box input {
  width: 822px; }
.checkout .city {
  padding-right: 26px; }
  .checkout .city .input-box {
    padding-left: 0;
    padding-right: 0; }
    .checkout .city .input-box input {
      width: 252px; }
.checkout .state {
  padding-right: 25px;
  width: 261px; }
  .checkout .state label {
    padding-left: 0; }
  .checkout .state .input-box {
    padding-left: 0;
    padding-right: 0; }
    .checkout .state .input-box input {
      width: 252px; }
  .checkout .state .create-account-state {
    width: 261px; }
.checkout .zipcode .input-box input {
  width: 251px; }
.checkout .zipcode .input-box, .checkout .zipcode label {
  padding-left: 0; }
.checkout .country .create-account-country {
  width: 831px; }
.checkout .email .input-box input {
  width: 822px; }
.checkout .col-right {
  padding: 49px 0 0 0;
  width: 212px;
  border-left: 0; }
.checkout .checkout-steps {
  border-bottom: 1px solid #B6B6B6;
  position: relative; }
  .checkout .checkout-steps li.section {
    border: 1px solid #B6B6B6;
    border-bottom: 0; }
  .checkout .checkout-steps li.section-buttons {
    border: 1px solid #B6B6B6;
    border-bottom: 0;
    border-top: none; }
  .checkout .checkout-steps .step-title {
    background: #fff;
    text-align: right;
    padding: 9px 34px 9px 34px;
    height: 20px; }
    .checkout .checkout-steps .step-title .number {
      float: left;
      border: solid 1px #B8B2B2;
      width: 18px;
      height: 18px;
      line-height: 18px;
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      color: #929292;
      margin-right: 10px; }
    .checkout .checkout-steps .step-title h2 {
      float: left;
      font-size: 11px;
      font-weight: bold;
      color: #929292;
      text-transform: uppercase;
      padding: 4px 0 0 0; }
  .checkout .checkout-steps .active .step-title {
    background: #F6F6F6;
    cursor: default; }
    .checkout .checkout-steps .active .step-title .number {
      background: #19BDFA;
      border: solid 1px #19BDFA;
      color: #fff; }
    .checkout .checkout-steps .active .step-title h2 {
      color: #19BDFA; }
  .checkout .checkout-steps .step {
    background: #F6F6F6;
    border-top: 1px solid #B6B6B6;
    padding: 20px 34px;
    position: relative; }
  .checkout .checkout-steps .step-buttons {
    padding-top: 0;
    padding-bottom: 25px;
    position: relative;
    border-top: none; }

.forgot-item-position {
  position: absolute;
  top: 5px;
  left: 277px; }

.data-table td h2 {
  padding-bottom: 5px; }

#checkout-step-order-review {
  padding-bottom: 25px;
  padding-top: 30px; }
  #checkout-step-order-review .data-table tbody td {
    background-color: #fafafa; }
  #checkout-step-order-review .data-table #shipping_types tr:hover td, #checkout-step-order-review .data-table #shipping_types tr:active td, #checkout-step-order-review .data-table #shipping_types tr:focus td {
    background-color: #f2f2f2; }
    #checkout-step-order-review .data-table #shipping_types tr:hover td:hover, #checkout-step-order-review .data-table #shipping_types tr:hover td:active, #checkout-step-order-review .data-table #shipping_types tr:hover td:focus, #checkout-step-order-review .data-table #shipping_types tr:active td:hover, #checkout-step-order-review .data-table #shipping_types tr:active td:active, #checkout-step-order-review .data-table #shipping_types tr:active td:focus, #checkout-step-order-review .data-table #shipping_types tr:focus td:hover, #checkout-step-order-review .data-table #shipping_types tr:focus td:active, #checkout-step-order-review .data-table #shipping_types tr:focus td:focus {
      background-color: #f2f2f2; }
      #checkout-step-order-review .data-table #shipping_types tr:hover td:hover input, #checkout-step-order-review .data-table #shipping_types tr:hover td:active input, #checkout-step-order-review .data-table #shipping_types tr:hover td:focus input, #checkout-step-order-review .data-table #shipping_types tr:active td:hover input, #checkout-step-order-review .data-table #shipping_types tr:active td:active input, #checkout-step-order-review .data-table #shipping_types tr:active td:focus input, #checkout-step-order-review .data-table #shipping_types tr:focus td:hover input, #checkout-step-order-review .data-table #shipping_types tr:focus td:active input, #checkout-step-order-review .data-table #shipping_types tr:focus td:focus input {
        background-color: #f2f2f2; }
        #checkout-step-order-review .data-table #shipping_types tr:hover td:hover input:hover, #checkout-step-order-review .data-table #shipping_types tr:hover td:hover input:active, #checkout-step-order-review .data-table #shipping_types tr:hover td:hover input:focus, #checkout-step-order-review .data-table #shipping_types tr:hover td:active input:hover, #checkout-step-order-review .data-table #shipping_types tr:hover td:active input:active, #checkout-step-order-review .data-table #shipping_types tr:hover td:active input:focus, #checkout-step-order-review .data-table #shipping_types tr:hover td:focus input:hover, #checkout-step-order-review .data-table #shipping_types tr:hover td:focus input:active, #checkout-step-order-review .data-table #shipping_types tr:hover td:focus input:focus, #checkout-step-order-review .data-table #shipping_types tr:active td:hover input:hover, #checkout-step-order-review .data-table #shipping_types tr:active td:hover input:active, #checkout-step-order-review .data-table #shipping_types tr:active td:hover input:focus, #checkout-step-order-review .data-table #shipping_types tr:active td:active input:hover, #checkout-step-order-review .data-table #shipping_types tr:active td:active input:active, #checkout-step-order-review .data-table #shipping_types tr:active td:active input:focus, #checkout-step-order-review .data-table #shipping_types tr:active td:focus input:hover, #checkout-step-order-review .data-table #shipping_types tr:active td:focus input:active, #checkout-step-order-review .data-table #shipping_types tr:active td:focus input:focus, #checkout-step-order-review .data-table #shipping_types tr:focus td:hover input:hover, #checkout-step-order-review .data-table #shipping_types tr:focus td:hover input:active, #checkout-step-order-review .data-table #shipping_types tr:focus td:hover input:focus, #checkout-step-order-review .data-table #shipping_types tr:focus td:active input:hover, #checkout-step-order-review .data-table #shipping_types tr:focus td:active input:active, #checkout-step-order-review .data-table #shipping_types tr:focus td:active input:focus, #checkout-step-order-review .data-table #shipping_types tr:focus td:focus input:hover, #checkout-step-order-review .data-table #shipping_types tr:focus td:focus input:active, #checkout-step-order-review .data-table #shipping_types tr:focus td:focus input:focus {
          background-color: #f2f2f2; }
  #checkout-step-order-review .data-table #shipping_types td {
    background-color: #f6f6f6;
    position: relative; }
    #checkout-step-order-review .data-table #shipping_types td input {
      position: absolute;
      top: 12px; }
    #checkout-step-order-review .data-table #shipping_types td label {
      padding-left: 20px;
      text-transform: none; }
  #checkout-step-order-review .data-table tfoot td {
    background-color: #F1F1F1; }
  #checkout-step-order-review .data-table tfoot strong {
    color: #19BDFA; }

* {
  border: none;
  outline: none;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #999;
  background-color: #F3F3F3; }

.wrapper {
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 0 -326px 0;
  overflow-x: hidden; }

.content-wrapper {
  width: 100%;
  padding: 0 0 326px 0; }

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

header, section, footer, aside, nav, main, article, figure {
  display: block; }

strong {
  font-weight: 700; }

h1, h2, h3, h4, h5, p {
  padding-bottom: 14px; }

h1, h2 {
  font-size: 18px; }

h3, h3 a {
  font-size: 16px; }

h4, h4 a {
  font-size: 14px; }

a {
  color: #19BDFA;
  text-decoration: underline; }
  a:hover {
    text-decoration: none; }

section {
  position: relative;
  width: 100%;
  background-color: #F3F3F3; }

ul, ol {
  list-style: none; }

.container {
  width: 900px;
  text-align: left;
  margin: 0 auto;
  padding: 15px 25px 15px 25px; }

.left {
  float: left; }

.right {
  float: right; }

.pad-bottom {
  padding-bottom: 40px; }

form input, form textarea {
  border: 1px solid #AAA; }

small {
  font-size: 1em; }

.nobr {
  white-space: nowrap !important; }

.a-left {
  text-align: left !important; }

.a-right {
  text-align: right !important; }

.f-left {
  float: left !important; }

.f-right {
  float: right !important; }

.col-one {
  width: 100%;
  padding-bottom: 15px; }
  .col-one .col-main {
    width: 100%; }

.description-wrapper .nav-links {
  padding-bottom: 15px; }
.description-wrapper ul {
  list-style: disc outside;
  padding-left: 18px;
  margin: 0 0 10px; }
  .description-wrapper ul li {
    padding-bottom: 3px; }
    .description-wrapper ul li a {
      color: #19BDFA;
      text-decoration: underline; }
      .description-wrapper ul li a:hover {
        text-decoration: none; }
    .description-wrapper ul li ul {
      margin: 0; }
      .description-wrapper ul li ul li {
        list-style: circle; }
.description-wrapper dl {
  font: 12px/1.35 Arial, Helvetica, sans-serif;
  color: #999; }
  .description-wrapper dl dt {
    font-weight: bold; }
  .description-wrapper dl dd {
    margin: 0 0 10px;
    text-align: justify; }
.description-wrapper .page-title h2 {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 19px;
  font-weight: normal;
  color: #2F2F2F; }
  .description-wrapper .page-title h2 a {
    color: #19BDFA;
    font-weight: 700;
    text-decoration: underline; }
    .description-wrapper .page-title h2 a:hover {
      text-decoration: none; }
.description-wrapper .col-3-set .col-one {
  float: left;
  width: 32%; }
.description-wrapper .col-3-set .col-two {
  float: left;
  width: 32%;
  margin-left: 2%; }
.description-wrapper .col-3-set .col-three {
  float: right;
  width: 32%; }
.description-wrapper p {
  font: 12px/1.35 Arial, Helvetica, sans-serif;
  color: #999;
  text-align: justify; }

.bold {
  font-weight: 700; }

.pad-top-bottom-30 {
  padding-bottom: 30px;
  padding-top: 30px; }

a:focus, a:active, .btn:focus, .btn:active, button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0 !important;
  appearance: none; }

.clearfix {
  clear: both; }

.center {
  text-align: center !important;
  vertical-align: middle !important; }

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loading.gif) 50% 45% no-repeat #F9F9F9;
  opacity: 1; }
