header {
  width: 100%;
  clear: both; }

.header-row-1 {
  width: 100%;
  background-color: #000000; }

.header-row-1-container {
  background-color: #000000;
  width: 900px;
  height: 32px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 9px; }
  .header-row-1-container nav {
    width: 100%; }
    .header-row-1-container nav ul {
      width: 940px;
      list-style: none; }
      .header-row-1-container nav ul li {
        float: left; }
        .header-row-1-container nav ul li a {
          display: block;
          margin-right: 15px;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          color: #ffffff;
          float: left;
          font-weight: bold;
          font-size: 10px;
          padding: 4px 0 0 0; }
          .header-row-1-container nav ul li a span {
            color: #ffffff; }
          .header-row-1-container nav ul li a:hover {
            color: #19BDFA; }
    .header-row-1-container nav .currencies {
      float: right;
      padding: 2px 0 0 0; }
      .header-row-1-container nav .currencies select {
        width: 45px;
        border: solid 1px #fff;
        font-size: 12px;
        color: #7F7F7F; }
        .header-row-1-container nav .currencies select option {
          padding-left: 3px; }
      .header-row-1-container nav .currencies label {
        color: #9D9D9D;
        font-size: 12px; }
  .header-row-1-container .msg-nav-padding {
    padding-right: 155px; }

.my-cart-items:hover {
  color: #19BDFA; }

.header-row-1 .welcome-msg {
  float: left;
  font-weight: bold;
  font-size: 10px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 4px 0 0 0; }

.header-row-2 {
  background: url("../images/header_wrapper.jpg") no-repeat scroll 50% 0 #E3E3E3;
  border-bottom: solid 1px #CFCFCF;
  width: 100%; }
  .header-row-2 .header-row-2-container {
    width: 900px;
    background: url("../images/header_wrapper.jpg") no-repeat scroll 50% 0 transparent;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px; }
    .header-row-2 .header-row-2-container .logo-container {
      padding: 45px;
      text-align: center; }
    .header-row-2 .header-row-2-container .nav-container {
      text-align: center;
      position: relative;
      padding-bottom: 14px;
      border-bottom: solid 1px #bbb;
      margin: 0 0 63px 0; }
      .header-row-2 .header-row-2-container .nav-container nav ul li {
        display: inline;
        padding: 5px 15px 5px 15px; }
        .header-row-2 .header-row-2-container .nav-container nav ul li a {
          font-family: 'Quattrocento Sans', sans-serif;
          font-size: 14px;
          text-transform: uppercase;
          color: #6A6A6A; }
          .header-row-2 .header-row-2-container .nav-container nav ul li a:hover {
            color: #333; }

footer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 960px;
  bottom: 0;
  z-index: 0;
  background-color: #F3F3F3; }
  footer .footer-row-1 {
    height: 275px; }
    footer .footer-row-1 .footer-container {
      background-color: #F3F3F3;
      border-top: solid 1px #CFCFCF;
      height: 75px;
      width: 900px;
      text-align: left;
      margin: 0 auto; }
      footer .footer-row-1 .footer-container .footer-block {
        margin-left: 175px;
        padding-top: 40px; }
        footer .footer-row-1 .footer-container .footer-block .footer-cols {
          float: left; }
          footer .footer-row-1 .footer-container .footer-block .footer-cols h3 {
            font-family: 'Quattrocento Sans', sans-serif;
            font-size: 16px;
            font-weight: normal;
            color: #383636;
            text-transform: uppercase;
            padding: 0 0 13px 0; }
          footer .footer-row-1 .footer-container .footer-block .footer-cols ul {
            list-style: none; }
            footer .footer-row-1 .footer-container .footer-block .footer-cols ul li {
              background: url(../images/f_arr.gif) no-repeat 0 7px;
              padding: 0 0 9px 9px; }
              footer .footer-row-1 .footer-container .footer-block .footer-cols ul li a {
                color: #7B7B7B;
                text-decoration: none;
                font-size: 12px; }
                footer .footer-row-1 .footer-container .footer-block .footer-cols ul li a:hover {
                  color: #D96137; }
        footer .footer-row-1 .footer-container .footer-block .footer-col-1 {
          width: 241px; }
        footer .footer-row-1 .footer-container .footer-block .footer-col-2 {
          width: 241px; }
        footer .footer-row-1 .footer-container .footer-block .footer-col-3 {
          width: 241px; }
  footer .footer-row-2 {
    padding-top: 10px; }
    footer .footer-row-2 .footer-container {
      background-color: #F3F3F3;
      height: 50px;
      width: 900px;
      text-align: left;
      margin: 0 auto;
      border-top: solid 1px #CFCFCF;
      padding: 30px 0 0 0; }
      footer .footer-row-2 .footer-container ul {
        margin: 0 15px; }
        footer .footer-row-2 .footer-container ul li a address {
          font-style: normal;
          color: #696969;
          display: inline; }

.footer-copyright {
  display: inline; }

.footer-github {
  display: inline; }
  .footer-github a {
    margin-left: 10px; }
    .footer-github a i {
      color: gray; }
      .footer-github a i:hover {
        color: #4183C4; }

.footer-linkin {
  display: inline; }
  .footer-linkin a {
    margin-left: 10px; }
    .footer-linkin a i {
      color: gray; }
      .footer-linkin a i:hover {
        color: #0976b4; }

.footer-google-plus {
  display: inline; }
  .footer-google-plus a {
    margin-left: 10px; }
    .footer-google-plus a i {
      color: gray; }
      .footer-google-plus a i:hover {
        color: #dd4b39; }

footer, .push {
  height: 366px; }

.footer-text {
  display: inline; }

.login-btn {
  border: solid 1px #959595;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #ddd;
  background: url(../images/button.gif) repeat-x;
  background-size: 30px auto;
  color: #fff;
  padding: 3.5px 20px;
  text-transform: uppercase; }
  .login-btn:hover {
    border: solid 1px #676767;
    background: url(../images/button.gif) repeat-x 0 -24px; }
  .login-btn input {
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    font-size: 13px;
    font-weight: 400;
    border: none; }

.login-btn-reset {
  background: none;
  border: none;
  box-shadow: none; }
  .login-btn-reset:focus {
    background: none;
    border: none;
    box-shadow: none; }

.form-valid .input:focus:valid, form textarea:focus:valid {
  background: #fff url(../images/valid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #5cd053;
  border-color: #28921f; }

.form-valid .input:focus:invalid, form textarea:focus:invalid {
  background: #fff url(../images/invalid.png) no-repeat 98% center;
  box-shadow: 0 0 5px #d45252;
  border-color: #b03535; }

.main {
  padding-top: 30px; }
  .main .page-title {
    padding-bottom: 20px; }
    .main .page-title h1 {
      font-family: 'Quattrocento Sans', sans-serif;
      font-weight: normal;
      color: #2F2F2F; }
  .main .account-login .row-1 {
    height: 170px; }
    .main .account-login .row-1 .col-1 {
      float: left;
      width: 500px; }
    .main .account-login .row-1 .col-2 {
      float: left;
      width: 400px; }
      .main .account-login .row-1 .col-2 .content {
        padding-left: 40px; }
        .main .account-login .row-1 .col-2 .content p {
          padding-bottom: 6px; }
        .main .account-login .row-1 .col-2 .content .required {
          font-size: 10px;
          text-transform: uppercase;
          text-align: right;
          color: #19BDFA;
          padding-top: 10px; }
        .main .account-login .row-1 .col-2 .content .form-list ul {
          list-style: none; }
          .main .account-login .row-1 .col-2 .content .form-list ul li {
            margin-top: 8px; }
            .main .account-login .row-1 .col-2 .content .form-list ul li label {
              display: list-item; }
              .main .account-login .row-1 .col-2 .content .form-list ul li label em {
                color: #19BDFA; }
            .main .account-login .row-1 .col-2 .content .form-list ul li input {
              display: list-item; }
            .main .account-login .row-1 .col-2 .content .form-list ul li .login-input-field {
              padding: 3px;
              width: 350px; }
  .main .account-login .row-2 {
    height: 35px;
    padding-top: 20px;
    padding-bottom: 15px; }
    .main .account-login .row-2 .col-1 {
      width: 500px;
      float: left; }
    .main .account-login .row-2 .col-2 {
      width: 400px;
      float: left; }
      .main .account-login .row-2 .col-2 .buttons-set {
        padding-left: 40px; }
        .main .account-login .row-2 .col-2 .buttons-set a {
          color: #19BDFA;
          margin-top: 6px; }

* {
  border: none;
  outline: none;
  font-weight: 100;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #666;
  background-color: #F3F3F3; }

header, section, footer, aside, nav, main, article, figure {
  display: block; }

strong {
  font-weight: 700; }

h1, h2, h3, h4, h5, p {
  padding-bottom: 14px; }

h1, h2 {
  font-size: 18px; }

h3, h3 a {
  font-size: 16px; }

h4, h4 a {
  font-size: 14px; }

section {
  position: relative;
  width: 100%;
  background-color: #F3F3F3; }

.wrapper {
  position: relative;
  width: 100%; }

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  min-width: 960px;
  margin: 0 auto -366px;
  overflow-x: hidden; }

.container {
  width: 900px;
  text-align: left;
  margin: 0 auto;
  padding: 15px 25px 15px 25px; }

.left {
  float: left; }

.right {
  float: right; }

form input, form textarea {
  border: 1px solid #AAA; }

a:focus, a:active, .btn:focus, .btn:active, button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0 !important;
  appearance: none; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  html, body {
    width: 100%;
    overflow-x: hidden; } }
