.main-col-error {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  h1 {
    font-family: "Quattrocento Sans",sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #2F2F2F;
    line-height: 45px;
    padding: 0 0 30px;
  }

  p {
    font-size: 18px;
    color: #999;
  }
}