.main {
  width: 100%;

  p {
    color: #919191;
  }

  .empty {
    strong {
      color: #19BDFA;
    }

    a {
      color: #19BDFA;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.description-wrapper {
  .form-returns, .form-contact-us {
    margin-top: -20px;

    ul {
      list-style: none;
      padding-left: 0;
    }

    .fields-textarea {
      .field {
        em {
          color: #19BDFA;
        }
      }
    }

    .name, .billing-last-name, .order-id, .find-by, .zip, .email {
      input, select {
        width: 590px;
      }

      select {
        width: 598px;
        border: 1px solid #AAA;
        height: 21px;
        background-color: #F3F3F3;
      }
    }

    .comment {
      textarea {
        resize: none;
        width: 589px;
        height: 175px;
        padding: 3px;
      }
    }
  }

  .required {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right;
    color: #19BDFA;
    padding-top: 10px;
  }
}

.error-msg {
  border-color: #F16048;
  background-color: #FAEBE7;
  border-style: solid !important;
  border-width: 1px !important;
  padding: 8px 8px 8px 32px !important;
  background-image: url(../images/i_msg-error.gif);
  background-position: 10px 9px !important;
  background-repeat: no-repeat !important;
  margin-top: 5px;
  margin-bottom: 5px;

  span {
    font-size: 11px !important;
    font-weight: 700 !important;
    color: #DF280A;
  }

  a {
    color: #DF280A;
    text-decoration: none;
  }
}

.success-msg {
  border-style: solid !important;
  border-width: 1px !important;
  padding: 8px 8px 8px 32px !important;
  background-position: 10px 9px !important;
  background-repeat: no-repeat !important;
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: #446423;
  background-color: #eff5ea;
  background-image: url(../images/i_msg-success.gif);

  span {
    font-size: 11px !important;
    font-weight: 700 !important;
    color: #3d6611;
  }
}

.data-table {
  width: 100%;

  thead {
    background-color: #F1F1F1;
  }

  tfoot {
    background-color: #F1F1F1;
  }

  th {
    padding: 10px;
    border: 1px solid #BCBCBC;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2F2F2F;
    white-space: nowrap;
    background-color: #DDDBDB;
  }

  td {
    padding: 10px;
    border: 1px solid #DBDBDB;
    background-color: rgb(243, 243, 243);
  }
}

fieldset {
  border: 1px solid #CFCFCF;
}

p.required {
  font-size: 10px;
  text-transform: uppercase;
  text-align: right;
  color: #19BDFA;
  padding-top: 10px;
  padding-bottom: 10px;
}

.first-name, .last-name, .address, .city, .state, .zipcode, .country,
.email, .passwd, .passwd-conf, .login-email, .login-passwd, .order-id,
.billing-last-name, .find-by, .name, .comment, .password {
  label {
    text-transform: uppercase;
  }
}

.block-dashboard {
  a.active {
    font-weight: 700;
    text-decoration: none;
    color: #919191;
  }
}

.orders {
  fieldset {
    padding: 1px;
  }
}

.form-billing-information, .form-shipping-information, .form-login-information {
  fieldset {
    padding-bottom: 20px;
  }
}

.billing-information, .shipping-information, .login-information {
  .form-wrapper {
    margin-top: -20px;
  }

  .form-list {
    .fields {

    }
  }

  .field-one, .input-text-one {
    width: 598px;
  }
  .field-two {
    width: 298px;
  }

  .field-three {
    width: 198px;
  }

  .first-name {
    .input-box {
      padding-left: 0;
      padding-right: 11px;

      input {
        width: 278px;
      }
    }
  }

  .last-name {
    .input-box {
      input {
        width: 278px;
      }

      .input-box, label {
        padding-left: 11px;
      }
    }
  }

  .passwd {
    .input-box {
      padding-right: 12px;

      input {
        width: 278px;
      }
    }
  }

  .passwd-conf {
    .input-box {
      input {
        width: 278px;
      }
    }
  }

  .address {
    input {
      width: 590px;
    }
  }

  .city {
    input {
      width: 175px;
    }

    .input-box {
      padding-right: 16px;
    }
  }

  .state {
    input {
      width: 175px;
    }

    .input-box {
      padding-right: 9px;
      padding-left: 7px;
    }

    label {
      padding-left: 8px;
    }
  }

  .zipcode {
    input {
      width: 175px;
    }

    .input-box, label {
      padding-left: 15px;
      padding-right: 1px;
    }
  }

  .create-account-country {
    width: 598px;
  }

  .email, .password {
    input {
      width: 590px;
    }
  }
}

.dashboard {
  address {
    font-style: normal;
  }

  .welcome-msg {
    .hello {

    }
  }

  .box-title, .box-head {
    width: 100%;
    overflow: hidden;
    margin: 10px 0;

    h2, h3 {
      float: left;
    }
  }

  .col-2-set {
    padding-bottom: 13px;

    .col-1 {
      float: left;
      width: 49%;
    }

    .col-2 {
      float: right;
      width: 49%;
    }
  }
}