.account-create {
  margin-top: -20px;

  .row-1 {
    height: 320px;
  }

  .row-2 {
    height: 110px;
  }

  .row-3 {
    height: 90px;

    .buttons-set {
      .required {
        font-size: 10px;
        text-transform: uppercase;
        text-align: right;
        color: #19BDFA;
        padding-top: 10px;
        margin-bottom: -6px;
      }
    }
  }
}

fieldset {
  border: 1px solid #ddd;
  background: #fefefe;
  padding: 22px 25px 12px 25px;
  margin: 28px 0;

  legend {
    float: left;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #fefefe;
    background: #dedede;
    color: #333;
    margin: -33px 0 0 -10px;
    padding: 0 8px;
    position: relative;
  }

  ul {
    list-style: none;

    li {
      display: list-item;
    }
  }
}

.form-list {
  li {
    margin: 0 0 10px;
  }

  .fields {
    height: 36px;

    .field {
      float: left;

      em {
        color: #19BDFA;;
      }
    }
  }
}

.input-text-one {
  width: 848px;
}

.field-one {
  width: 848px;
}

.field-two {
  width: 424px;
}

.first-name {
  .input-box {
    padding-left: 0;

    input {
      width: 407px;
    }
  }
}

.last-name {
  label {
    padding-left: 12px;
  }

  .input-box {
    padding-left: 12px;

    input {
      width: 407px;
    }
  }
}

.address {
  input {
    width: 843px;
  }
}

.city {
  label {
    padding-left: 0;
  }

  .input-box {
    padding-left: 0;
  }

  input {
    width: 260px;
  }
}

.state {
  label {
    padding-left: 10px;
  }

  .input-box {
    padding-left: 8px;
  }

  input {
    width: 260px;
  }
}

.zipcode {
  label {
    padding-left: 18px;
  }

  .input-box {
    padding-left: 18px;
  }

  input {
    width: 260px;
  }
}


.create-account-country {
  width: 850px;
  border: 1px solid #aaa;
  height: 21px;
  background-color: #F3F3F3;
}

.create-account-state {
  width: 269px;
  border: 1px solid #aaa;
  height: 21px;
  background-color: #F3F3F3;
}

.email {
  input {
    width: 843px;
  }
}

.field-three {
  width: 282.6px;
}

.passwd {
  .input-box {
    padding-left: 0;

    input {
      width: 407px;
    }
  }
}

.passwd-conf {
  label {
    padding-left: 12px;
  }

  .input-box {
    padding-left: 12px;

    input {
      width: 407px;
    }
  }
}

.back-btn {
  color: #19BDFA;
  text-decoration: underline;
  padding-top: 5px;

  &:hover {
    text-decoration: none;
  }
}

.input-box {
  display: block;
  clear: both;

  input {
    height: 13px;
    padding: 3px;
  }
}